#review {
  padding: 0 !important;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5); }

#review .modal-dialog {
  width: 100%;
  max-width: 500px;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  margin: 100px auto; }

#review .modal-content {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

#review .modal-body {
  position: relative;
  padding: 0; }

#review .modal-body i {
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
  font-size: 30px;
  color: #FFF; }

#review .modal-body img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto; }

#overlay {
  z-index: 99;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.modal_form {
  width: 730px;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: none;
  z-index: 999999; }

.modal_form .modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
  display: block; }
  .modal_form .modal_close i {
    font-size: 35px;
    color: #707070; }

body {
  min-width: 320px;
  font-family: 'Roboto';
  font-size: 16px; }

img {
  max-width: 100%;
  height: auto; }

.header {
  position: relative;
  background-image: url(../img/header-after.png);
  background-position: bottom right;
  background-repeat: no-repeat; }
  @media (max-width: 1800px) {
    .header {
      -webkit-background-size: 50% 50%;
              background-size: 50%;
      background-position: top right; } }
  @media (max-width: 1200px) {
    .header-top {
      background-color: #EFB81D; } }
  @media (max-width: 1200px) {
    .header {
      background-image: none; } }

.select-drop {
  position: relative;
  display: inline-block;
  min-width: 100px;
  margin-right: 150px; }
  @media (max-width: 767px) {
    .select-drop {
      margin-right: 0; } }
  .select-drop__main {
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer; }
  .select-drop__wrap {
    position: absolute;
    top: 25px;
    min-width: 80px;
    z-index: 2;
    width: 100%;
    display: none;
    color: #000; }
  .select-drop__item {
    padding: 3px 0 3px 10px;
    cursor: pointer;
    font-size: 20px; }

/*.header:after{
	content:"";
	position: absolute;
	left:53%;
	top:0;
	height: 830px;
	width: 100%;
	background-image: url(../img/header-after.png);
	background-size: cover;
}
*/
.btn-main {
  font-size: 16px;
  color: #000;
  padding: 20px 10px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  display: inline-block;
  margin-top: 35px;
  min-width: 350px;
  text-align: center;
  border: none;
  font-weight: 700; }
  @media (max-width: 480px) {
    .btn-main {
      min-width: auto;
      width: 100%; } }

.btn-main--yellow {
  background-color: #F3C127; }

.header__r {
  text-align: right;
  padding: 20px 0; }
  @media (max-width: 767px) {
    .header__r {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.lng {
  display: inline-block;
  margin-right: 150px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif; }
  @media (max-width: 767px) {
    .lng {
      margin-right: 0; } }

.main-phone {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  font-weight: bold; }
  @media (max-width: 991px) {
    .main-phone {
      display: none; } }

.main-phone-m {
  font-size: 26px;
  color: #000;
  display: none; }
  @media (max-width: 991px) {
    .main-phone-m {
      display: inline-block; } }

.title__header {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.2; }
  @media (max-width: 991px) {
    .title__header {
      font-size: 50px; } }
  @media (max-width: 767px) {
    .title__header {
      font-size: 40px; } }
  @media (max-width: 480px) {
    .title__header {
      font-size: 30px; } }

.title__header--white {
  color: #fff; }

.title__sub-text--white {
  color: #fff; }

.title__sub-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.4; }
  @media (max-width: 480x) {
    .title__sub-text {
      font-size: 16px; } }

.logo {
  padding-top: 10px; }

.social {
  margin-top: 80px; }

.social__item {
  color: #8087B3;
  margin-right: 50px;
  font-size: 18px; }

.social__item i {
  margin-right: 5px; }

.hero {
  margin-top: 200px;
  padding-bottom: 10px; }
  @media (max-width: 767px) {
    .hero {
      margin-top: 100px; } }

.hero__text {
  color: #7A7F9E;
  margin-top: 20px; }

.portfolio-slider {
  margin-top: 20px; }
  .portfolio-slider .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .portfolio-slider .prev-arrow {
    position: absolute;
    left: 5px; }
  .portfolio-slider .next-arrow {
    position: absolute;
    right: 5px; }
  .portfolio-slider__slide-name {
    font-size: 24px;
    color: #F0BB21;
    font-weight: 900;
    margin: 10px 0; }
    .portfolio-slider__slide-name--black {
      color: #000; }
  .portfolio-slider__slide-text {
    color: #fff;
    font-size: 14px;
    line-height: 1.3; }
    .portfolio-slider__slide-text--black {
      color: #000; }
  .portfolio-slider__slide-top {
    margin: 0 10px;
    background: #2A2B2F;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 991px) {
      .portfolio-slider__slide-top {
        display: none; } }
    .portfolio-slider__slide-top--yellow {
      background: #F9CF3B; }
    .portfolio-slider__slide-top-left {
      width: 476px; }
    .portfolio-slider__slide-top-right {
      width: 635px;
      padding: 20px; }
  .portfolio-slider__slide-bottom {
    margin: 20px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 991px) {
      .portfolio-slider__slide-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media (max-width: 767px) {
      .portfolio-slider__slide-bottom {
        padding: 0 20px; } }
    .portfolio-slider__slide-bottom-box-1 {
      width: 555px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      background: #2A2B2F;
      height: 100%;
      margin-right: 20px;
      height: 265px; }
      @media (max-width: 991px) {
        .portfolio-slider__slide-bottom-box-1 {
          margin-bottom: 20px;
          margin-right: 0; } }
      @media (max-width: 767px) {
        .portfolio-slider__slide-bottom-box-1 {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          height: auto;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 100%; } }
      .portfolio-slider__slide-bottom-box-1--yellow {
        background: #F9CF3B; }
    .portfolio-slider__slide-bottom-box-2 {
      width: 555px;
      height: 265px;
      background: #2A2B2F;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 991px) {
        .portfolio-slider__slide-bottom-box-2 {
          margin-left: 0; } }
      @media (max-width: 767px) {
        .portfolio-slider__slide-bottom-box-2 {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          height: auto;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 100%; } }
      .portfolio-slider__slide-bottom-box-2--yellow {
        background: #F9CF3B; }
    .portfolio-slider__slide-bottom-left {
      width: 180px;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0; }
      .portfolio-slider__slide-bottom-left img {
        height: 100%; }
    .portfolio-slider__slide-bottom-right {
      padding: 20px; }

.technology {
  margin-top: 50px;
  padding-bottom: 50px; }

.technology__items {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (max-width: 991px) {
    .technology__items {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  @media (max-width: 480px) {
    .technology__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .technology__items img {
    margin: 10px; }

.promotion {
  padding: 20px 0; }

.promotion-img-wrap {
  position: relative;
  margin-top: 20px; }

.promotion-img-wrap img {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  max-width: none; }
  @media (max-width: 767px) {
    .promotion-img-wrap img {
      position: static;
      max-width: 100%;
      height: auto; } }

.promotion__content {
  padding: 100px 0 0 0; }
  @media (max-width: 767px) {
    .promotion__content {
      padding-top: 30px; } }

.promition__text {
  margin-top: 20px; }

.s-number {
  background-image: url(../img/bgr-blue.png);
  padding: 50px 0 120px;
  margin-top: 200px;
  background-position: center;
  position: relative;
  -webkit-background-size: cover;
          background-size: cover; }
  @media (max-width: 991px) {
    .s-number {
      padding-bottom: 0; } }
  @media (max-width: 767px) {
    .s-number {
      margin-top: 50px; } }

.number-img-abs {
  position: absolute;
  right: 50px;
  top: -30px; }
  @media (max-width: 1400px) {
    .number-img-abs {
      display: none; } }
  @media (max-width: 991px) {
    .number-img-abs {
      position: static;
      display: block;
      margin: 20px auto 0;
      max-width: 100%; } }

.number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 50px; }

.number__item {
  width: 33%;
  color: #fff;
  margin-top: 20px; }
  @media (max-width: 991px) {
    .number__item {
      max-width: 50%;
      width: 50%;
      margin: 50px auto 0; } }
  @media (max-width: 480px) {
    .number__item {
      width: 100%;
      max-width: 100%;
      text-align: center; } }

.number__text {
  width: 140px; }
  @media (max-width: 480px) {
    .number__text {
      margin: auto; } }

.number__header {
  font-size: 60px;
  font-weight: 900; }

.s-reviews {
  padding: 100px 0; }
  .s-reviews__text {
    padding: 0 125px;
    margin-top: 50px; }
    @media (max-width: 767px) {
      .s-reviews__text {
        padding: 0; } }

.s-reviews__img-abs-1 {
  position: absolute;
  bottom: -85px;
  left: -65px; }
  @media (max-width: 1200px) {
    .s-reviews__img-abs-1 {
      bottom: -65px; } }
  @media (max-width: 991px) {
    .s-reviews__img-abs-1 {
      bottom: -49px; } }
  @media (max-width: 767px) {
    .s-reviews__img-abs-1 {
      display: none; } }

.s-reviews__img-abs-2 {
  position: absolute;
  bottom: -85px;
  right: -15px; }
  @media (max-width: 1200px) {
    .s-reviews__img-abs-2 {
      bottom: -65px; } }
  @media (max-width: 991px) {
    .s-reviews__img-abs-2 {
      bottom: -49px; } }
  @media (max-width: 767px) {
    .s-reviews__img-abs-2 {
      display: none; } }

.slick-arrow {
  border: none;
  background: transparent;
  z-index: 5; }
  .slick-arrow:focus {
    outline: none; }
  .slick-arrow:hover {
    cursor: pointer; }

.reviews-sl {
  margin: 0 10px; }

.reviews-sl .slick-arrow {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2; }

.reviews-sl .prev-arrow {
  left: -50px; }
  @media (max-width: 600px) {
    .reviews-sl .prev-arrow {
      left: -10px; } }

.reviews-sl .next-arrow {
  right: -50px; }
  @media (max-width: 600px) {
    .reviews-sl .next-arrow {
      right: -10px; } }

@media (max-width: 767px) {
  .reviews-sl .slick-slide {
    text-align: center; } }

.reviews-sl__slide {
  overflow: hidden;
  padding: 10px; }
  @media (max-width: 767px) {
    .reviews-sl__slide {
      width: 250px !important; } }

.reviews-sl__header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FED94C), to(#CA9C13));
  background-image: -webkit-linear-gradient(top, #FED94C, #CA9C13);
  background-image: -o-linear-gradient(top, #FED94C, #CA9C13);
  background-image: linear-gradient(to bottom, #FED94C, #CA9C13);
  height: 250px;
  padding: 14px 14px 0 14px;
  -webkit-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
  overflow: hidden; }
  .reviews-sl__header img {
    margin: auto; }

.reviews-sl__content {
  background-color: #FDD444;
  text-align: center;
  padding: 10px 0;
  position: relative;
  z-index: 2;
  -webkit-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px; }

.reviews-sl__name {
  font-weight: 700;
  font-size: 20px;
  padding: 5px 0; }

.reviews-sl {
  margin-top: 50px; }

.s-faq__r {
  max-width: 546px; }
  @media (max-width: 1200px) {
    .s-faq__r {
      max-width: none; } }

.accordion-main {
  margin-top: 50px;
  position: relative;
  z-index: 2; }

.accordion-main__header {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: #2A2B2F;
  position: relative;
  padding: 20px 25px; }
  @media (max-width: 480px) {
    .accordion-main__header {
      padding: 25px 10px; } }
  .accordion-main__header.active i.fa-plus {
    display: none; }

.accordion-main__content {
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px 2px rgba(42, 43, 47, 0.1);
          box-shadow: 0 0 2px 2px rgba(42, 43, 47, 0.1);
  margin-top: 23px;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

.accordion-main__sub-text {
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: none;
  padding: 20px 25px; }
  .accordion-main__sub-text.active {
    display: block; }
  @media (max-width: 480px) {
    .accordion-main__sub-text {
      padding: 15px 10px; } }

.accordion-main__header i {
  position: absolute;
  right: 40px;
  top: 30px;
  font-size: 16px; }

.s-faq__img-bottom {
  margin-top: -50px; }
  @media (max-width: 1200px) {
    .s-faq__img-bottom {
      margin-top: 0px; } }

.s-clients {
  padding-bottom: 100px; }

.clients {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 40px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.s-team {
  background: url(../img/bgr-blue.png) center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 50px 0 75px; }
  .s-team .title {
    text-align: center; }

.team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px; }
  .team__item {
    background-color: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    width: 160px;
    max-width: 160px;
    padding: 0 10px;
    padding-bottom: 17px;
    margin: 35px 0; }
  .team__header {
    width: 64px;
    height: 64px;
    margin: -32px auto 0; }
  .team__name {
    font-weight: bold;
    margin-top: 10px;
    color: #16171B;
    text-align: center;
    font-family: 'Roboto-black'; }
  .team__work {
    font-size: 13px;
    font-family: Arial;
    margin-top: 10px;
    color: #888585;
    text-align: center; }
  .team .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff; }
  .team .prev-arrow {
    left: -50px; }
    @media (max-width: 991px) {
      .team .prev-arrow {
        left: -10px; } }
  .team .next-arrow {
    right: -50px; }
    @media (max-width: 991px) {
      .team .next-arrow {
        right: -10px; } }
  .team .slick-slide {
    text-align: center; }

.s-vacancies {
  padding: 50px 0; }

.vacancies {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  padding: 110px 0 50px;
  position: relative;
  z-index: 1; }
  @media (max-width: 991px) {
    .vacancies {
      background: #FCD157; } }
  .vacancies:after {
    content: "";
    top: 0;
    position: absolute;
    z-index: -1;
    width: 1220px;
    height: 450px;
    background-image: url(../img/vacancies-bgr.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }
    @media (max-width: 991px) {
      .vacancies:after {
        content: none; } }
  .vacancies__item {
    width: 290px;
    margin: 25px 10px 0;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    border: 4px solid #fff; }
    @media (max-width: 991px) {
      .vacancies__item {
        margin-bottom: 30px; } }
  .vacancies__header {
    min-height: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    background: #fff;
    text-align: center;
    width: 250px;
    margin: -35px auto 0;
    font-size: 25px;
    font-family: 'Roboto Black';
    font-weight: 700; }
    .vacancies__header span {
      margin: auto; }
  .vacancies__list {
    list-style-type: none; }
    .vacancies__list-item {
      position: relative;
      margin-top: 16px; }
      .vacancies__list-item:after {
        content: "";
        position: absolute;
        left: -26px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background: #fff;
        -webkit-border-radius: 50%;
                border-radius: 50%; }

.s-phrase {
  z-index: 1;
  padding: 50px 0; }

.phrase {
  text-align: center;
  padding: 70px 0;
  position: relative; }
  .phrase:before {
    content: "";
    position: absolute;
    left: 50px;
    right: 50px;
    top: 0;
    background-image: url(../img/phrase-after.png);
    height: 100%;
    background-position: top center;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    z-index: -1; }
  .phrase__text {
    font-size: 32px;
    margin-top: 15px; }
  .phrase__name {
    font-size: 24px;
    margin-top: 10px; }
  .phrase__sign {
    margin-top: 7px; }

.s-business {
  padding: 0 0 50px;
  background: url(../img/bgr-bis.png) center;
  -webkit-background-size: cover;
          background-size: cover; }
  .s-business .title {
    text-align: center; }

.business {
  margin: 50px 0 0;
  padding: 0 50px 0; }
  .business__item {
    padding: 0 10px; }
  .business__header {
    text-align: center; }
    .business__header img {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin: auto;
      width: 63px;
      height: 63px; }
  .business__text {
    text-align: center;
    margin-top: 5px; }
  .business .slick-arrow {
    position: absolute;
    top: 25px;
    z-index: 2;
    font-size: 16px; }
  .business .prev-arrow {
    left: 5px; }
  .business .next-arrow {
    right: 5px; }

.s-sertif {
  position: relative;
  padding: 50px 0; }
  @media (max-width: 991px) {
    .s-sertif {
      overflow: hidden; } }
  .s-sertif .title {
    text-align: center; }
  .s-sertif:before {
    content: "";
    position: absolute;
    top: -50px;
    width: 126px;
    height: 164px;
    background: url(../img/sert-before-after.png);
    background-position: 100% 0;
    left: 0;
    -webkit-background-size: cover;
            background-size: cover; }
    @media (max-width: 991px) {
      .s-sertif:before {
        content: none; } }
  .s-sertif:after {
    content: "";
    position: absolute;
    bottom: -50px;
    width: 126px;
    height: 164px;
    background: url(../img/sert-before-after.png);
    background-position: top left;
    right: 0;
    -webkit-background-size: cover;
            background-size: cover; }
    @media (max-width: 991px) {
      .s-sertif:after {
        content: none; } }

.sertif {
  padding: 20px 0 160px;
  position: relative;
  z-index: 2; }
  @media (max-width: 991px) {
    .sertif {
      padding-bottom: 50px; } }
  .sertif:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -50px;
    right: -50px;
    left: -50px;
    height: 100%;
    background: url(../img/sertif-bgr.png) center no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: top center;
    z-index: -1; }
    @media (max-width: 991px) {
      .sertif:before {
        left: -100px;
        right: -100px;
        top: -20px; } }

.sertif__img-abs {
  position: absolute;
  right: 60px;
  bottom: -240px; }
  @media (max-width: 991px) {
    .sertif__img-abs {
      display: none; } }

.sertif-slider {
  margin-top: 30px;
  padding: 0 70px; }

.sertif-slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.sertif-slider .prev-arrow {
  left: 20px; }

.sertif-slider .next-arrow {
  right: 20px; }

.sertif-slider__item img {
  margin: auto; }

.s-how-work {
  padding: 100px 0; }
  @media (max-width: 991px) {
    .s-how-work {
      padding: 50px 0; } }
  @media (max-width: 480px) {
    .s-how-work {
      padding: 0; } }

.how-work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (max-width: 767px) {
    .how-work {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .how-work__item {
    width: 108px;
    margin: 0 10px;
    position: relative; }
    @media (max-width: 991px) {
      .how-work__item {
        width: 25%;
        max-width: 25%;
        margin-right: 5%;
        margin-top: 40px; }
        .how-work__item:nth-child(3):before {
          content: none; } }
    .how-work__item:before {
      content: "";
      position: absolute;
      top: 46%;
      right: 0;
      -webkit-transform: translate(80%, -50%);
          -ms-transform: translate(80%, -50%);
              transform: translate(80%, -50%);
      width: 120px;
      height: 1px;
      border: 1px dashed #000;
      z-index: -1; }
    @media (max-width: 767px) {
      .how-work__item {
        max-width: 160px;
        width: auto;
        margin-right: 0; }
        .how-work__item:before {
          content: none; } }
    .how-work__item:last-child:before {
      content: none; }
  .how-work__header {
    width: 108px;
    height: 108px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #EFB91B;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .how-work__header i {
      margin: auto;
      font-size: 40px;
      color: #fff; }
  .how-work__count {
    position: absolute;
    top: 70px;
    left: -webkit-calc(50% + 20px);
    left: calc(50% + 20px);
    color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    background-color: #000;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 900; }
  .how-work__text {
    margin-top: 10px;
    display: block;
    text-align: center; }

a.how-work__text {
  color: #000; }
  a.how-work__text:hover {
    color: #38B655; }

.s-services {
  position: relative;
  padding-top: 110px;
  overflow: hidden; }
  .s-services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

.services {
  -webkit-box-shadow: 0 0 10px 3px #c3bfbf;
          box-shadow: 0 0 10px 3px #c3bfbf;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 30px 50px 30px 30px;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    .services {
      padding: 20px; } }
  @media (max-width: 480px) {
    .services .title {
      text-align: center; } }
  .services__container {
    margin: 50px 0; }
  .services__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px; }
    @media (max-width: 480px) {
      .services__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .services__l {
    width: 360px;
    margin-right: 30px; }
    @media (max-width: 480px) {
      .services__l {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center; } }
  .services__r {
    width: 185px;
    text-align: right;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px; }
    @media (max-width: 991px) {
      .services__r {
        font-size: 18px; } }
    @media (max-width: 480px) {
      .services__r {
        text-align: center; } }
  .services-img-abs {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); }
    @media (max-width: 991px) {
      .services-img-abs {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        position: static; } }

.tarif {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 20px; }
  .tarif__box {
    width: 350px;
    margin: 20px 10px 0 0;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    -webkit-box-shadow: 0 0 10px 3px #c3bfbf;
            box-shadow: 0 0 10px 3px #c3bfbf;
    overflow: hidden; }
    .tarif__box:last-child {
      margin-right: 0; }
  .tarif__header {
    text-align: center;
    -webkit-box-shadow: 0 3px 4px 2px #928d8d;
            box-shadow: 0 3px 4px 2px #928d8d; }
    .tarif__header--pink {
      background-color: #EB4887; }
    .tarif__header--yellow {
      background-color: #FEBB26; }
    .tarif__header--violet {
      background-color: #3C2768; }
  .tarif__name {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #fff;
    padding: 10px 0; }
  .tarif__price {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 10px 0;
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 30px; }
    .tarif__price:before {
      content: "";
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      border-top: 1px solid #fff; }
  .tarif__container {
    padding: 30px 0; }
  .tarif__lists {
    list-style-type: none;
    margin: 0;
    padding: 0 30px;
    text-align: center; }
  .tarif__list-item {
    margin-top: 20px; }
    .tarif__list-item i {
      margin-right: 5px; }
    .tarif__list-item--pink i {
      color: #EB4887; }
    .tarif__list-item--yellow i {
      color: #FEBB26; }
    .tarif__list-item--violet i {
      color: #3C2768; }
  .tarif__btn {
    text-align: center;
    padding: 0 10px; }
    .tarif__btn-item {
      width: 100%;
      min-width: auto; }

.s-payment {
  padding: 50px 0; }

.payment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px; }
  @media (max-width: 480px) {
    .payment {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .payment__item {
    margin: 10px; }

.s-result {
  padding: 50px 0;
  background: url(../img/bgr-bis.png) center top;
  -webkit-background-size: cover;
          background-size: cover; }
  .s-result .title {
    text-align: center; }

.result {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (max-width: 767px) {
    .result {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .result__item {
    width: 320px; }
    @media (max-width: 480px) {
      .result__item {
        width: 100%; } }
  .result__header {
    min-height: 300px; }
  .result__text {
    text-align: center; }

.s-presents {
  padding: 50px 0 100px;
  position: relative;
  z-index: 2;
  overflow: hidden; }
  @media (max-width: 991px) {
    .s-presents {
      padding-bottom: 50px; } }
  .s-presents:before {
    content: "";
    height: 100%;
    width: 1030px;
    background-image: url(../img/present.png);
    -webkit-background-size: contain;
            background-size: contain;
    background-position: bottom right;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-repeat: no-repeat; }
    @media (max-width: 1400px) {
      .s-presents:before {
        -webkit-transform: translateX(35%);
            -ms-transform: translateX(35%);
                transform: translateX(35%); } }
    @media (max-width: 991px) {
      .s-presents:before {
        content: none; } }

.presents {
  width: 350px; }
  @media (max-width: 767px) {
    .presents {
      margin: auto; } }
  @media (max-width: 360px) {
    .presents {
      width: 100%; } }
  .presents__item {
    margin-top: 100px; }
    @media (max-width: 767px) {
      .presents__item {
        margin-top: 50px; } }
  .presents__text {
    margin-top: 30px;
    text-align: center; }
  .presents__header {
    width: 170px;
    height: 170px;
    background-color: #2fbef4;
    margin: 20px auto;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: relative; }
    .presents__header:before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      bottom: -5px;
      right: -5px;
      border: 1px solid #949494;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .presents__header:after {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      bottom: -10px;
      right: -10px;
      border: 1px solid #D4D4D4;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .presents__header i.fas {
      position: absolute;
      top: 50%;
      color: #fff;
      font-size: 70px;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .presents__header--green {
      width: 220px;
      height: 220px;
      background-color: #2FD841; }

.box-why-we {
  margin: -68px 0 0; }
  @media (max-width: 991px) {
    .box-why-we {
      margin: 0; } }
  .box-why-we .number-img-abs {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media (max-width: 991px) {
      .box-why-we .number-img-abs {
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        position: static; } }

.s-our-contacts {
  padding: 50px 0; }
  @media (max-width: 991px) {
    .s-our-contacts .title {
      margin-top: 50px; } }

.contacts {
  margin-top: 40px;
  vertical-align: top;
  display: inline-block;
  margin-right: 50px; }
  .contacts__header {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 700; }
  .contacts__item {
    margin-top: 20px; }
    .contacts__item i {
      min-width: 20px; }

.social-contact {
  margin-top: 40px;
  vertical-align: top;
  display: inline-block; }
  .social-contact__header {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 700; }
  .social-contact__item {
    background: #2699fb;
    padding: 2px;
    color: #fff;
    width: 30px;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    margin: 0 5px 10px;
    line-height: 1; }
  .social-contact__content {
    margin-top: 20px; }

.s-form {
  background: url(../img/bgr-blue.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  padding: 140px 0 80px; }
  @media (max-width: 767px) {
    .s-form {
      padding: 50px 0; } }
  .s-form__header {
    font-size: 60px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #fff;
    text-align: center;
    letter-spacing: 12px; }
    @media (max-width: 767px) {
      .s-form__header {
        font-size: 40px;
        letter-spacing: 0; } }
  .s-form__sub-text {
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-top: 20px; }

.form__inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px; }
  @media (max-width: 767px) {
    .form__inputs {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.form__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 170px;
  margin-right: 30px; }
  @media (max-width: 767px) {
    .form__input {
      width: 100%;
      margin: 20px 0 0; } }
  .form__input:last-child {
    margin-right: 0; }
  .form__input input {
    padding: 8px; }
  .form__input label {
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px; }
    .form__input label i {
      margin-right: 5px; }

.form__checked {
  text-align: center;
  margin-top: 40px;
  color: #fff; }
  .form__checked > label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .form__checked > label a {
      color: #fff;
      margin: 0 5px; }

.form__btn {
  text-align: center; }

.form__input input::-webkit-input-placeholder {
  color: #CBCBCB; }

.form__input input::-moz-placeholder {
  color: #CBCBCB; }

.form__input input:-ms-input-placeholder {
  color: #CBCBCB; }

.form__input input:-moz-placeholder {
  color: #CBCBCB; }

.hidden {
  display: none; }

.form__checked .on-check {
  display: none; }

.checked:checked ~ label .on-check {
  display: inline-block;
  color: #484646; }

.square-checked {
  width: 16px;
  height: 16px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  margin-right: 10px; }

.square-checked i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.form-online {
  color: #000;
  font-family: "Roboto", sans-serif;
  top: 50%;
  margin: auto;
  padding: 70px 0; }

.form-online__form {
  max-width: 370px;
  margin: auto; }

.form-online .checked {
  display: none; }

.form-online__header {
  font-size: 35px;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase; }

.form-online__sub-text {
  color: #4d4f5c;
  margin-top: 5px;
  font-size: 18px;
  line-height: 13px;
  opacity: 0.5;
  margin-bottom: 10px;
  text-align: center; }

.form-online__input {
  border: none;
  border-bottom: 2px solid #e9e9f0;
  padding: 5px 0;
  margin-top: 35px;
  width: 100%;
  color: #43425d;
  font-size: 15px; }

.form-online__check {
  position: relative;
  margin-top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.form-online__offert {
  margin-left: 10px;
  color: #43425d; }

.form-online__offert a {
  color: #43425d; }

.form-online .online-checked {
  font-size: 23px;
  color: #a5a6ac;
  vertical-align: text-bottom; }

.form-online__check input.checked:checked + label i.online-checked-sec {
  display: block;
  position: absolute;
  left: 3px;
  top: 4px;
  cursor: pointer;
  z-index: 999999;
  font-size: 15px;
  color: #43425d; }

.form-online .online-checked-sec {
  display: none; }

.btn-main--online {
  width: 100%;
  outline: none;
  border: none;
  padding: 14px 10px;
  margin-top: 30px;
  font-size: 18px; }

.footer {
  padding: 25px 0;
  background: #000;
  position: relative;
  font-size: 15px;
  font-family: Arial; }
  .footer__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (max-width: 767px) {
      .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .footer__item {
    color: #fff; }
    @media (max-width: 1200px) {
      .footer__item {
        margin: 10px 20px 0 0; } }
  .footer .social-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 1200px) {
      .footer .social-footer {
        margin-top: 10px;
        margin-right: 20px; } }
    @media (max-width: 767px) {
      .footer .social-footer {
        margin-top: 20px; } }
    .footer .social-footer__item {
      color: #fff;
      margin-right: 15px; }
      .footer .social-footer__item:last-child {
        margin-right: 0; }

.scroll-to-top {
  width: 32px;
  height: 32px;
  background-color: #FBD242;
  position: absolute;
  top: 20px;
  right: 70px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  z-index: 2; }
  @media (max-width: 1200px) {
    .scroll-to-top {
      right: 15px; } }
  .scroll-to-top i {
    margin: auto;
    color: #fff;
    font-size: 20px; }

.text {
  font-family: roboto-regular;
  font-size: 18; }

.btn {
  font-family: roboto;
  font-weight: bold;
  font-style: 16; }

.title {
  font-family: roboto;
  font-size: 60;
  font-weight: black; }

.sub-title {
  font-family: Arial;
  font-weight: 14; }

.portfolio__name {
  font-size: 24;
  font-family: roboto;
  font-weight: black; }

.portfolio__text {
  font-size: 14;
  font-family: Arial; }

.number {
  font-size: 60;
  font-family: roboto;
  font-weight: black; }

.number__text {
  font-size: 14px;
  font-weight: Regular;
  font-family: roboto; }

.reviews__name {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px; }

.reviews__dizainer {
  font-size: 10px; }

.faq__qveestion {
  font-size: 28px;
  font-family: Roboto-bold; }

.faq__text {
  font-size: 14px;
  font-family: Arial;
  font-weight: Regular; }

.no-money__tite {
  font-size: 32;
  font-family: Constantia;
  font-style: italic; }

.no-money__name {
  font-size: 24px;
  font-family: Constantia; }

.business {
  font-size: 12px;
  font-weight: Regilar;
  font-family: Arial; }

.how-work__text {
  font-size: 14px;
  font-family: Arial;
  font-weight: Regular; }

.service__text {
  font-family: Roboto;
  font-size: 13px;
  font-weight: regular; }

.service__price {
  font-family: arial;
  font-size: 20;
  font-weight: bold; }

.result__Text {
  font-size: 18px;
  font-family: Arial; }

.present__text {
  font-size: 14px;
  font-family: Arial regular; }

.form-title {
  font-size: 60 roboto bold;
  letter-spacing: 200; }

.form-title__sub-text {
  font-size: 18;
  font-family: Roboto;
  font-weight: Regular; }

.label input {
  font-size: 12;
  font-family: roboto;
  font-weight: regular; }

.footer {
  font-family: Arial;
  font-size: 15; }
