body{
  min-width: 320px;
  color:#fff;
  font-size:16px;
  font-family: $m-r-font;
}

.container{
  max-width: 1440px;
  margin: auto; 
}

img{
  max-width: 100%;
  height: auto;
}

.hamburger {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; 
}

.hamburger:hover {
  opacity: 1;
}

.hamburger-box {
  display: inline-block;
  background: transparent;
  width: 30px;
}

.hamburger-inner {
  display: block;
  top: 50%;
}

.hamburger-text{
  margin-left:9px;
  color:#fff;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; 
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px; 
}

.d-block{
  display: block;
}

.container-flex{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  
  &--reviews{
    @media(max-width: 820px){
      justify-content: center;  
    }
  }
}
