@font-face {
	font-family: 'Maven-Regular';
	src:url(../fonts/Mavenproregular.ttf);
}
@font-face {
	font-family: 'Maven-Black';
	src:url(../fonts/Mavenproblack.ttf);
}
@font-face {
	font-family:'Maven-Medium';
	src:url(../fonts/Mavenpromedium.ttf);
}
@font-face {
	font-family:'Maven-Bold';
	src:url(../fonts/Mavenprobold.ttf);
}

