.s-steps{
  background-color:#66CFCF;
  &__container{
    padding:90px 40px 100px 30px;
    display: flex;
    @media(max-width: 1439px){
      flex-direction: column;

    }
    @media(max-width: 767px){
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__main{
    width: 610px;
    align-self: center;
    @media(max-width: 1439px){
      width: 100%;
    }
    @media(max-width: 991px){
      text-align: center; 
    }
  }
  &__content{
    width:100%;
  }
  &__title{
    font-size: 80px;
    color:#fff;
    font-family: $m-black-font;
    @media(max-width: 991px){
      font-size: 60px;
    }
    @media(max-width: 480px){
      font-size: 34px;
    }
  }
  &__btn{
    margin-top: 60px;
    border-radius: 6px;
    border:2px solid #fff;
    padding:27px 40px;
    display: inline-block;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $m-bd-font;
    transition: all 0.3s ease;
    &:hover{
      color:#66CFCF;
      background-color: #fff;
    }
  }
}
.steps{
  display: flex;
  flex-direction: column;
  @media(max-width: 1439px){
    margin-top: 100px;
  }
  &__item:nth-child(odd){
    margin-left: 288px;
    & .steps__icon{
      top:-24px;
      left:-70px;
    }
    &:before{
      content:"";
      position: absolute;
      top:7px;
      width: 256px;
      height: 192px;
      background:url(../img/arrow.png);
      transform:translateX(100%) ;
      @media(max-width: 1439px){
        display: none;
      }
    }
    @media(max-width: 1439px){
      margin-left: 70px;
    }
    @media(max-width: 991px){
      margin-left: 0; 
    }
  }
  &__item:nth-child(even){
    align-self: flex-end;
    margin-right: 273px;
    text-align: right;
    @media(max-width: 1439px){
      text-align: left;
    }
    @media(max-width: 991px){
      text-align: center; 
      margin-left: 0; 
    }
    & .steps__icon{
      top:-24px;
      right:-70px;
      @media(max-width: 1439px){
        right:auto;
        left:-70px;
      }

    }
    &:before{
      content:"";
      position: absolute;
      top:7px;
      left:0;
      width: 256px;
      height: 192px;
      background:url(../img/arrow.png);
      transform:scale(-1,1) translateX(100%);
      @media(max-width: 1439px){
        display: none;
      }
    }
    @media(max-width: 1439px){
      margin-right:0;
      align-self:flex-start;
    }
    @media(max-width: 991px){
      align-self: center;
    }
  }
  &__item{
    position: relative;
    min-height: 180px;
    max-width: 270px;
    &:last-child:before{
      display: none;
    }
    @media(max-width: 1439px){
      max-width: 100%;
      margin-left:70px;
    }
    @media(max-width: 991px){
      text-align: center; 

    }
  }
  &__icon{
    position: absolute;
    @media(max-width: 991px){
      position: static; 
    }
    
  }
  &__title{
    font-size: 22px;
    font-family: $m-bd-font;

  }
  &__text{
    margin-top: 12px;
    line-height: 22px;
    font-size: 16px;
  }
}