@charset "UTF-8";
* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important; }

@font-face {
  font-family: 'Lato-medium';
  src: url("../fonts/Lato-Medium.ttf"); }

@font-face {
  font-family: 'Lato-regular';
  src: url("../fonts/Lato-Regular.ttf"); }

@font-face {
  font-family: 'Lato-bold';
  src: url("../fonts/LatoBold.ttf"); }

@font-face {
  font-family: 'Lato-light';
  src: url("../fonts/LatoLight.ttf"); }

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url("../fonts/RobotoSlab-Regular.ttf"); }

@font-face {
  font-family: 'RobotoSlab-Thin';
  src: url("../fonts/RobotoSlab-Thin.ttf"); }

@font-face {
  font-family: 'RoddenberryC';
  src: url("../fonts/RoddenberryCYRILLIC.ttf"); }

@font-face {
  font-family: 'MinionPro-Regular';
  src: url("../fonts/RoddenberryCYRILLIC.ttf"); }

.header {
  background-image: url(../img/header-bgr.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 165px;
  -webkit-background-size: cover;
          background-size: cover; }
  .header__name {
    font-size: 27px;
    line-height: 40px;
    font-family: 'RoddenberryC';
    text-transform: capitalize; }
  .header__top-line {
    padding-top: 30px; }
  .header .btn {
    margin-left: 150px; }
    @media (max-width: 487px) {
      .header .btn {
        margin-left: 0; } }
    @media (min-width: 768px) and (max-width: 1200px) {
      .header .btn {
        margin-left: 0; } }

.nav {
  position: fixed;
  z-index: 9999;
  top: 210px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px; }
  @media (max-width: 768px) {
    .nav {
      display: none; } }
  .nav:before {
    height: 65px;
    position: absolute;
    background-image: url(../img/menu-before.png);
    width: 16px;
    content: " ";
    top: -80px;
    background-repeat: no-repeat; }
  .nav:after {
    height: 65px;
    position: absolute;
    background-image: url(../img/menu-after.png);
    background-repeat: no-repeat;
    width: 16px;
    content: " ";
    bottom: -76px; }
  .nav__name {
    position: absolute;
    top: 3px;
    right: 52px;
    text-align: right;
    color: #fff;
    font-size: 12px;
    display: block;
    min-width: 100px;
    display: none; }
    .nav__name.active {
      display: block; }
    .nav__name:after {
      content: " ";
      width: 20px;
      height: 2px;
      background-color: #fff;
      display: inline-block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      right: -25px; }
  .nav__item {
    font-size: 10px;
    text-decoration: none;
    position: relative; }
    .nav__item:last-child:after {
      display: none; }
  .nav__circle {
    cursor: pointer;
    padding: 4px 6px;
    border: 1px solid #fff;
    display: block;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    color: #fff; }
    .nav__circle:hover ~ .nav__name {
      display: block; }
  .nav__item:after {
    margin: 5px auto;
    display: block;
    content: ' ';
    width: 5px;
    height: 12px;
    background-image: url(../img/menu-circle-after.png); }

.hero__title-top-text {
  margin-top: 165px;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  padding: 0 50px;
  font-family: 'lato-light';
  letter-spacing: 2.25px; }
  @media (max-width: 500px) {
    .hero__title-top-text {
      padding: 0 5px; } }

.hero__title {
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  font-family: 'lato-bold';
  margin-top: 1px; }

.hero_btn {
  text-align: center;
  margin-top: 20px; }

.books {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .books__item {
    margin-right: 30px; }
    .books__item:hover {
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
              transform: translateY(-10px);
      cursor: pointer; }
    .books__item:last-child {
      margin-right: 0; }

.btn--red {
  background-color: #D4232F;
  padding: 12px 44px;
  margin-top: 20px;
  display: inline-block; }

.btn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'lato-medium'; }

.price {
  margin-left: 15px;
  vertical-align: bottom;
  padding-bottom: 5px;
  display: inline-block; }
  .price__item {
    font-family: 'lato-bold';
    font-size: 24px;
    color: #D4232F; }

.page {
  background-color: #fff;
  color: #000;
  font-size: 11px;
  padding: 0 3px;
  overflow-y: auto; }

.books__main {
  position: relative;
  width: 400px;
  height: 280px; }
  @media (max-width: 500px) {
    .books__main {
      width: 320px;
      height: 215px; } }

.hard {
  background-image: url(../img/book-big.jpg);
  -webkit-background-size: cover;
          background-size: cover; }

.hamburger-menu {
  display: none;
  background-image: url(../img/hamb-bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  z-index: 10;
  padding-top: 80px;
  background-position: top center;
  padding-bottom: 50px; }
  .hamburger-menu__name {
    margin-top: 23px;
    text-transform: uppercase;
    font-family: 'RoddenberryC';
    letter-spacing: 5.4px;
    margin-bottom: 40px;
    font-size: 27px; }
  .hamburger-menu__item {
    font-family: 'robotoslab-thin';
    font-size: 27px;
    margin-bottom: 40px;
    display: block;
    color: #fff;
    text-decoration: none;
    position: relative; }
    .hamburger-menu__item:after {
      position: absolute;
      content: " ";
      width: 9px;
      height: 9px;
      background-image: url("../img/hamb-after.png");
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      top: 50px; }
    .hamburger-menu__item:last-of-type:after {
      display: none; }
  .hamburger-menu .copyright {
    border-top: 1px solid #fff;
    margin-top: 75px;
    padding: 0; }
    .hamburger-menu .copyright__item {
      font-size: 12px;
      line-height: 30px; }

.main {
  position: relative;
  margin-top: 60px;
  padding-top: 100px; }
  .main:before {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    content: " ";
    top: -137px;
    background-image: url(../img/main-top-arrow.png);
    width: 26px;
    height: 186px; }
  .main:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/main-bgr.png);
    -webkit-background-size: cover;
            background-size: cover;
    content: " ";
    z-index: -1; }
  .main .title__sub-text {
    padding-left: 40px; }

.aftor .title__sub-text:after {
  margin-left: -40px; }

.data__header {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 15px;
  margin-top: 50px; }

.data__item {
  font-size: 45px;
  font-family: 'RobotoSlab-Regular'; }
  .data__item--border {
    border-bottom: 5px solid #fff;
    font-family: 'lato-regular'; }

.study {
  margin-top: 45px; }
  .study__header {
    font-size: 12px;
    line-height: 18px;
    font-family: 'lato-regular'; }
  .study__data {
    margin-top: 25px;
    font-size: 45px;
    font-family: 'RobotoSlab-Regular'; }
  .study__text {
    font-size: 14px;
    line-height: 21px;
    font-family: 'lato-regular';
    margin-top: 15px;
    padding-right: 5px; }

.activities {
  margin-top: 50px;
  position: relative; }
  .activities:after {
    position: absolute;
    width: 663px;
    height: 609px;
    content: " ";
    background-image: url(../img/main-eroglif-bg.png);
    top: -116px;
    right: -57%;
    z-index: -1;
    opacity: 0.45; }
    @media (max-width: 992px) {
      .activities:after {
        right: 0; } }
  .activities__header {
    font-size: 12px;
    line-height: 18px; }
  .activities__data {
    margin-top: 25px;
    font-size: 45px;
    font-family: 'RobotoSlab-Regular'; }
  .activities__text {
    font-size: 14px;
    line-height: 21px;
    font-family: 'lato-regular';
    padding-right: 3px;
    margin-top: 15px; }
  .activities__bottom-text {
    margin-top: 15px;
    font-family: 'RobotoSlab-Regular';
    padding-right: 76px; }
    .activities__bottom-text--red {
      color: #D4232F;
      font-family: 'lato-bold'; }

.university {
  margin-left: -30px; }
  @media (max-width: 767px) {
    .university {
      margin-left: 0; } }
  .university__data {
    margin-top: 30px;
    font-size: 45px;
    font-family: 'RobotoSlab-Regular';
    margin-bottom: 5px; }
  .university__text {
    font-size: 14px;
    line-height: 21px;
    font-family: 'lato-regular'; }

.main-img {
  margin-top: -25px;
  text-align: center;
  margin-left: 10px; }

.presentation {
  text-align: center;
  margin-top: 275px; }
  @media (max-width: 1140px) {
    .presentation {
      margin-top: 50px; } }
  .presentation .title__sub-text {
    padding-left: 0; }

.video-container {
  margin-top: 80px;
  position: relative; }

.rectangles {
  position: absolute;
  width: 25px;
  height: 25px;
  content: " ";
  background-image: url(../img/ractangle.png); }
  .rectangles.item-1 {
    top: -20px;
    left: -20px; }
  .rectangles.item-2 {
    top: -20px;
    right: -20px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .rectangles.item-3 {
    bottom: -20px;
    left: -20px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .rectangles.item-4 {
    bottom: -20px;
    right: -20px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.title {
  position: relative; }
  .title h2.title__header {
    font-size: 36px;
    font-family: 'Lato-bold';
    margin: 0; }
    @media (max-width: 600px) {
      .title h2.title__header {
        font-size: 30px; } }
  .title__sub-text {
    font-size: 20px;
    font-family: 'lato-light';
    letter-spacing: 5px;
    margin-top: 5px; }
    .title__sub-text:after {
      content: " ";
      display: block;
      margin: auto;
      background-image: url(../img/irrow-title.png);
      background-position: center center;
      text-align: center;
      margin-top: 2px;
      width: 50px;
      height: 3px;
      -webkit-transition: width 0.3s 1s;
      -o-transition: width 0.3s 1s;
      transition: width 0.3s 1s; }
    @media (max-width: 600px) {
      .title__sub-text {
        font-size: 16px; } }
  .title__text {
    margin-top: 40px;
    font-size: 14px;
    font-family: 'robotoslab-thin';
    padding: 0 37px 0 60px;
    line-height: 21px; }

.shown.animated .title__sub-text:after {
  width: 355px; }
  @media (max-width: 350px) {
    .shown.animated .title__sub-text:after {
      width: 310px; } }

.aftor .shown.animated .title__sub-text:after {
  width: 355px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media (max-width: 350px) {
    .aftor .shown.animated .title__sub-text:after {
      width: 310px; } }

.aftor .title__sub-text:after {
  position: absolute;
  left: 60%; }

.wrap {
  position: relative; }
  .wrap:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/wrap-bg.png);
    -webkit-background-size: cover;
            background-size: cover;
    content: " ";
    z-index: -1; }

.about-book {
  padding-top: 225px;
  margin-top: 20px;
  padding-bottom: 150px; }
  .about-book .title {
    text-align: center;
    margin-bottom: 70px; }

.discr__header {
  font-family: 'lato-medium';
  font-size: 25px;
  line-height: 45px;
  border-bottom: 2px dotted #fff;
  letter-spacing: 5px;
  text-transform: uppercase; }

.discr__title {
  font-size: 12px;
  line-height: 18px;
  margin-top: 30px; }

.discr__text {
  font-size: 45px; }
  .discr__text--border {
    border-bottom: 4px solid #fff; }

.story__header {
  font-size: 12px;
  line-height: 18px; }

.story__text {
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px; }

.buttons {
  text-align: center;
  margin-top: 75px; }
  .buttons .btn {
    display: inline-block;
    margin-right: 20px;
    width: 220px;
    height: 55px;
    font-size: 15px;
    line-height: 55px;
    vertical-align: top; }
    @media (max-width: 767px) {
      .buttons .btn {
        margin-bottom: 10px; } }
  .buttons .btn--red {
    margin-top: 0;
    padding: 0; }
  .buttons .btn--transparent {
    border: 2px solid #fff; }

.buy {
  text-align: center;
  padding-top: 60px; }
  .buy__img {
    position: absolute;
    top: -85px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .buy .title-buy:before {
    content: ' ';
    display: block;
    margin-top: 235px; }
    @media (max-width: 767px) {
      .buy .title-buy:before {
        margin-top: 50px; } }
  .buy .title__text {
    padding-bottom: 5px; }

.shop {
  margin-top: 50px;
  font-size: 16px;
  line-height: 30px; }

.contacts__item {
  text-decoration: none;
  color: #fff; }
  .contacts__item:first-child:after {
    display: inline-block;
    height: 15px;
    width: 2px;
    background-color: #fff;
    content: "";
    margin: 5px 10px 0; }

.back-form {
  text-align: center; }
  .back-form__input {
    font-size: 20px;
    line-height: 35px;
    font-family: 'Lato-light';
    color: #fff;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #fff;
    width: 255px;
    margin-right: 30px; }
    @media (max-width: 992px) {
      .back-form__input {
        display: block;
        margin: auto; } }
    .back-form__input:focus {
      outline: none; }
    .back-form__input::-webkit-input-placeholder {
      color: #fff; }
    .back-form__input::-moz-placeholder {
      color: #fff; }
    .back-form__input:-moz-placeholder {
      color: #fff; }
    .back-form__input:-ms-input-placeholder {
      color: #fff; }
  .back-form .btn {
    color: #fff;
    border: 3px solid #fff;
    padding: 20px 60px;
    font-size: 15px;
    background: transparent;
    margin-top: 50px;
    font-family: 'lato-medium';
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease; }
    .back-form .btn:hover {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background: #D4232F; }

.footer {
  padding-top: 75px;
  background-image: url(../img/footer-bg.png); }
  .footer__info {
    border-top: 1px solid #5b5b5b;
    border-bottom: 1px solid #5b5b5b;
    padding: 15px 0;
    margin-top: 120px; }
    @media (max-width: 992px) {
      .footer__info {
        text-align: center; } }
  .footer .contacts {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (max-width: 992px) {
      .footer .contacts {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (max-width: 380px) {
      .footer .contacts {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .footer .contacts__item {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 5px; }
      @media (max-width: 380px) {
        .footer .contacts__item:after {
          display: none; } }

.social__item {
  margin-right: 27px; }
  .social__item:last-child {
    margin-right: 0; }

.social__icon {
  vertical-align: middle; }

.email {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 100%; }
  @media (max-width: 992px) {
    .email {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 5px; } }
  .email__item {
    font-size: 20px;
    line-height: 30px;
    font-family: 'lato-medium'; }

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0; }
  @media (max-width: 400px) {
    .copyright {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .copyright__item {
    font-size: 15px;
    line-height: 30px; }

body {
  font-family: "Lato-regular", sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #fff; }

.b-hamburger {
  text-align: right;
  position: relative;
  z-index: 999999; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

#b-form {
  display: none; }

#book-form {
  background: transparent;
  border: none;
  width: 770px;
  height: 590px; }
  #book-form .modal_close {
    top: -50px;
    right: 0;
    font-size: 35px; }

.form-back {
  text-align: center; }

.btn-send {
  background: transparent;
  margin-top: 35px;
  padding: 5px 10px; }

.modal_form {
  min-width: 400px;
  min-height: 300px;
  /* Рaзмеры дoлжны быть фиксирoвaны */
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed;
  /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 35%;
  /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  left: 50%;
  /* пoлoвинa экрaнa слевa */
  margin-top: -150px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 1;
  /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 9999999999999999999999;
  /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 20px 10px;
  background: url("../img/main-bgr.jpg"); }

/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.modal_form .modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block; }

#overlay {
  z-index: 3;
  /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position: fixed;
  /* всегдa перекрывaет весь сaйт */
  background-color: #000;
  /* чернaя */
  opacity: 0.8;
  /* нo немнoгo прoзрaчнa */
  -moz-opacity: 0.8;
  /* фикс прозрачности для старых браузеров */
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  /* рaзмерoм вo весь экрaн */
  top: 0;
  /* сверху и слевa 0, oбязaтельные свoйствa! */
  left: 0;
  cursor: pointer;
  display: none;
  /* в oбычнoм сoстoянии её нет) */ }

.form-back__input {
  width: 195px;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  display: block;
  margin: auto;
  margin-top: 15px;
  padding-bottom: 5px;
  background: transparent; }

.top-form__input:focus {
  outline: none; }

img {
  max-width: 100%;
  height: auto; }

.top-form-btn {
  display: block;
  margin-top: 10px;
  margin: 10px auto 0;
  border: 0; }

.top-form-btn.btn--yellow {
  background: -webkit-gradient(linear, left top, right top, from(#fdc406), to(#f18800));
  background: -webkit-linear-gradient(left, #fdc406, #f18800);
  background: -o-linear-gradient(left, #fdc406, #f18800);
  background: linear-gradient(to right, #fdc406, #f18800);
  padding: 10px 20px;
  color: #061322;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  font-size: 20px;
  line-height: 24px;
  margin-top: 30px;
  font-family: "Bebas-Neue-Cyrillic"; }

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 2px;
  background-color: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.14s ease, opacity 0.1s ease;
  -o-transition: top 0.1s 0.14s ease, opacity 0.1s ease;
  transition: top 0.1s 0.14s ease, opacity 0.1s ease; }

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.14s;
       -o-transition-delay: 0.14s;
          transition-delay: 0.14s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease, opacity 0.1s 0.14s ease;
  -o-transition: top 0.1s ease, opacity 0.1s 0.14s ease;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease; }

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }
